initialize(){
  initializeMutationRate(mu);
  initializeMutationType("m1", 0.5, "f", 0.0);
  initializeGenomicElementType("g1", m1, 1.0);
  initializeGenomicElement(g1, 0, 49999);
  initializeRecombinationRate(rho);
}

1{
  sim.addSubpop("p1", 144500);
}

18120 late(){
  sim.outputFull("tmp/slim_" + i + ".txt");
}
